<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKGHUIgqJmgcndhHG970p57uMtMi9ERwg</string>
	<key>GCM_SENDER_ID</key>
	<string>737046854867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tamara.BudgetPlan</string>
	<key>PROJECT_ID</key>
	<string>budgetplan-b8313</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetplan-b8313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737046854867:ios:fa0dfa7302d0ceef202826</string>
</dict>
</plist>